:root {
    --verde: #4CAF50;
    --vermelho: #f44336;
    --cinza: #f2f2f2;
    --preto: #222;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cinza);
    color: var(--preto);
}

header {
    background-color: var(--verde);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

.subtitulo {
    font-style: italic;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
}

section {
    margin: 1.5rem 0;
}

section img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 8px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 0.5rem;
}

.botao-compartilhar {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao-compartilhar:hover {
    background-color: #388E3C; /* verde mais escuro no hover */
    transform: scale(1.03);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--verde);
    color: white;
}
